<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="card w-50">
    <div class="card-header">
      <h5>Edit <%= model_name %> : <%= data._id.value.toString()%>
      </h5>
    </div>
    <div class="card-body">
      <form action="/<%= model_name %>/update/<%= data._id.value.toString()%>" method="post">
        <% let type=undefined; Object.keys(data).forEach(prop_name=> { %> <% if(prop_name !='_id' ) { %>
            <% if(data[prop_name].type=="String" ){ type='text' ; } else if(data[prop_name].type=="Number" ){
              type="number" } %>

              <div class="form-floating mb-3">
                <input type="<%= type %>" class="form-control" id="<%= prop_name %>" name="<%= prop_name %>"
                  placeholder="<%= prop_name %>" value="<%= data[prop_name].value %>" />
                <label for="<%= prop_name %>">
                  <%= prop_name %>
                </label>
              </div>
              <% } %>
                <% }); %>
                  <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary btn-sm mb-3"><i class="bi bi-save"></i> Save</button>
                    <a href="/<%= model_name %>/all" class="btn btn-danger btn-sm mb-3"><i class="bi bi-ban"></i>
                      Cancel</a>
                  </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end ">
      <span class="text-secondary ">@mikdevio</span>
    </div>
  </div>
</div>