<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="card w-50">
    <div class="card-header">
      <h5>New <%= model_name %>
      </h5>
    </div>
    <div class="card-body pb-0">
      <form action="/<%= model_name %>/create" method="post">
        <% let type=undefined; Object.keys(data).forEach(prop_name=> { %> 
          <% if(!["_id", "createdAt", "updatedAt", "img.contentType", "img.data"].includes(prop_name)) { %>
          <div class="form-floating mb-3">
            <% if(data[prop_name].type=="String" ){ %>
              <% type='text'; %>
              <input type="text" class="form-control" id="<%= prop_name %>" name="<%= prop_name %>"
                  placeholder="<%= prop_name %>" value="<%= data[prop_name].value %>" />
            <% } else if(data[prop_name].type=="Number" ){ %>
              <input type="number" class="form-control" id="<%= prop_name %>" name="<%= prop_name %>"
              placeholder="<%= prop_name %>" value="<%= data[prop_name].value %>" step="0.01"/>
            <% } %>
                <label for="<%= prop_name %>">
                  <%= prop_name %>
                </label>
            </div>
          <% } else if (prop_name == "img.data") { %>
            <div class="container-fluid p-0 align-items-center">
              <div class="row">
                <div class="col-3 ">
                  <% if(model_name == "product") { %>
                    <img src="/public/assets/img/product_default.png" class="img-fluid img-thumbnail" alt="...">
                  <%} else { %>
                    <img src="/public/assets/img/perfile_default.png" class="img-fluid img-thumbnail" alt="...">
                  <% } %>
                </div>
                <div class="col-auto">
                  <input type="img" class="form-control" id="<%= prop_name %>" name="<%= prop_name %>"
                  placeholder="<%= prop_name %>"/>
                </div>
              </div>    
            </div>
          <%  } %>
        <% }); %>
        <div class="d-flex justify-content-end gap-2">
          <button type="submit" class="btn btn-primary btn-sm mb-3"><i class="bi bi-save"></i> Save</button>
          <a href="/<%= model_name %>/all" class="btn btn-danger btn-sm mb-3"><i class="bi bi-ban"></i>
            Cancel</a>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end ">
      <span class="text-secondary">@mikdevio</span>
    </div>
  </div>
</div>