<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="card w-100">
    <div class="card-header">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-2">
            <h5>
              <%= table_title %>
            </h5>
          </div>
          <div class="col-auto gap-2 pe-0">
            <a href="/<%= model %>/new" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Add</a>
            <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-download"></i> Export</a>
            <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-upload"></i> Import</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-hover table-sm mb-0" id="datatableGen">
        <thead>
          <tr>
            <th scope="column">#</th>
            <% Object.keys(data[0]._doc).forEach(col_name=> { %> <% if(!["_id", "password" ].includes(col_name)) { %>
                <th scope="column">
                  <%= col_name %>
                </th>
                <% } %>
                  <% }); %>
                    <th scope="column">actions</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((element, i)=> { %>
            <tr>
              <th scope="row">
                <%= i+1 %>
              </th>
              <% Object.keys(data[0]._doc).forEach(col=> { %> <% if(!["_id", "password" ].includes(col) ) { %>
                  <td>
                    <%= element[col] %>
                  </td>
                  <% } }); %>
                    <td>
                      <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                      <a href="/<%= model %>/edit/<%= element._id %>" class="btn btn-success btn-sm"><i
                          class="bi bi-pencil-square"></i></a>
                      <a onclick="return confirm('Are you sure?')" data-method="delete"
                        href="/<%= model %>/delete/<%= element._id %>" rel="nofollow" class="btn btn-danger btn-sm"><i
                          class="bi bi-trash"></i></a>
                    </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-auto">
          <span class="text-secondary ">@mikdevio</span>
        </div>
      </div>
    </div>
  </div>
</div>