<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <%- include('../partials/header') %>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar section -->
      <%- include('../partials/sidebar') %>

      <!-- Main section -->
      <div class="main">
        <%- include('../partials/dashboard.nav.ejs') %> <%- body %>

        <footer class="footer min-vw-100">
          <%- include('../partials/dashboard.footer.ejs') %>
        </footer>
      </div>
      <!-- End main section -->
    </div>
    <%- include('../partials/scripts') %>
  </body>
</html>
